<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.name.id }}">{{ form.name.label.text }}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control is-expanded">
                {{ form.name() }}
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.price.id }}">{{ form.price.label.text }}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control is-expanded">
                {{ form.price() }}
            </div>
        </div>
    </div>
</div>

<div class="field is-horizontal">
    <div class="field-label is-normal">
        <label class="label" for="{{ form.quantity.id }}">{{ form.quantity.label.text }}</label>
    </div>
    <div class="field-body">
        <div class="field">
            <div class="control is-expanded">
                {{ form.quantity() }}
            </div>
        </div>
    </div>
</div>