{% extends 'base.html' %}

{% block content %}
<section class="is-flex is-justify-content-center is-align-items-center" style="min-height: 100vh;">
    <div class="container">
        <h1 class="title has-text-centered">Atualizar Produto</h1>
        <div class="box">
            <form class="form" method="POST">
                {{ form.hidden_tag() }}
                {% include 'form.html' %}
                <div class="field is-grouped is-justify-content-center">
                    <div class="control">
                        {{ form.submit(class='button is-primary') }}
                        <a class="button is-light" href="{{ url_for('products.list_products') }}">Cancelar</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
{% endblock %}